
.darken {
  background-color: rgba(0,0,0,0.5);
}

.lighten {
  background-color: rgba(255,255,255,0.5);
}

.transparentwhite {
  background-color: none;
  color: #fff;

  [class^="ic-"]:before, [class*=" ic-"], 
[class^="i-"]:before, [class*=" i-"],,
  .callout-heading {
    color: #fff;
  }
}

.transparentblack {
  background-color: none;
  color: #212121;

  [class^="ic-"]:before, [class*=" ic-"], 
[class^="i-"]:before, [class*=" i-"],,
  .callout-heading {
    color: #212121;
  }
}

.transparentred {
  background-color: none;
  color: #9d2235;

  [class^="ic-"]:before, [class*=" ic-"], 
[class^="i-"]:before, [class*=" i-"],,
  .callout-heading {
    color: #9d2235;
  }
}

.semidark {
  background-color: rgba(0,0,0,0.5);
  color: #fff;

  [class^="ic-"]:before, [class*=" ic-"], 
[class^="i-"]:before, [class*=" i-"],,
  .callout-heading {
    color: #fff;
  }
}

.semilight {
  background-color: rgba(255,255,255,0.5);
  color: #212121;

  [class^="ic-"]:before, [class*=" ic-"], 
[class^="i-"]:before, [class*=" i-"],,
  .callout-heading {
    color: #212121;
  }
}

.black {
  background-color: #000;
  color: #fff;

  [class^="ic-"]:before, [class*=" ic-"], 
[class^="i-"]:before, [class*=" i-"],,
  .callout-heading {
    color: #fff;
  }
}

.white {
  background-color: #fff;
  color: #212121;

  [class^="ic-"]:before, [class*=" ic-"], 
[class^="i-"]:before, [class*=" i-"],,
  .callout-heading {
    color: #212121;
  }
}

.gray5 {
  background-color: #FAF8F9;
  color: #212121;

  [class^="ic-"]:before, [class*=" ic-"], 
[class^="i-"]:before, [class*=" i-"],,
  .callout-heading {
    color: #212121;
  }
}

.gray10 {
  background-color: #F5F3F4;
  color: #212121;

  [class^="ic-"]:before, [class*=" ic-"], 
[class^="i-"]:before, [class*=" i-"],,
  .callout-heading {
    color: #212121;
  }
}

.gray25 {
  background-color: #DCDADB;
  color: #212121;

  [class^="ic-"]:before, [class*=" ic-"], 
[class^="i-"]:before, [class*=" i-"],,
  .callout-heading {
    color: #212121;
  }
}

.gray60 {
  background-color: #767475;
  color: #fff;

  [class^="ic-"]:before, [class*=" ic-"], 
[class^="i-"]:before, [class*=" i-"],,
  .callout-heading {
    color: #fff;
  }
}

.gray90 {
  background-color: #212121;
  color: #fff;

  [class^="ic-"]:before, [class*=" ic-"], 
[class^="i-"]:before, [class*=" i-"], {
    color: #fff;
  }
}

.uamsred {
  background-color: #9d2235;
  color: #fff;

  [class^="ic-"]:before, [class*=" ic-"], 
[class^="i-"]:before, [class*=" i-"],,
  .callout-heading {
    color: #fff;
  }
}

.accentgray {
  background-color: #767475;
  color: #fff;

  [class^="ic-"]:before, [class*=" ic-"], 
[class^="i-"]:before, [class*=" i-"],,
  .callout-heading {
    color: #fff;
  }
}

.eggplant {
  background-color: #701D45;
  color: #fff;

  [class^="ic-"]:before, [class*=" ic-"], 
[class^="i-"]:before, [class*=" i-"],,
  .callout-heading {
    color: #fff;
  }
}

.bluegray {
  background-color: #396079;
  color: #fff;

  [class^="ic-"]:before, [class*=" ic-"], 
[class^="i-"]:before, [class*=" i-"],,
  .callout-heading {
    color: #fff;
  }
}

.darkblue {
  background-color: #1A365C;
  color: #fff;

  [class^="ic-"]:before, [class*=" ic-"], 
[class^="i-"]:before, [class*=" i-"],,
  .callout-heading {
    color: #fff;
  }
}

.maroon {
  background-color: #6C0020;
  color: #fff;

  [class^="ic-"]:before, [class*=" ic-"], 
[class^="i-"]:before, [class*=" i-"],,
  .callout-heading {
    color: #fff;
  }
}

.orange {
  background-color: #CA4C1D;
  color: #fff;

  [class^="ic-"]:before, [class*=" ic-"], 
[class^="i-"]:before, [class*=" i-"],,
  .callout-heading {
    color: #fff;
  }
}

.lightblue {
  background-color: #01809F;
  color: #fff;
  
  [class^="ic-"]:before, [class*=" ic-"], 
[class^="i-"]:before, [class*=" i-"],,
  .callout-heading {
    color: #fff;
  }
}

.tealblue {
  background-color: #427F81;
  color: #fff;
  
  [class^="ic-"]:before, [class*=" ic-"], 
[class^="i-"]:before, [class*=" i-"],,
  .callout-heading {
    color: #fff;
  }
}

/* ===== 1.2 - Brand Colors - Links ===== */

.transparentwhite a {
  color: #fff;
  border-bottom-color: #fff;

  &:hover, &:active, &:focus {
    color: #F5F3F4;
    border-bottom-color: #F5F3F4;
  }
  &:visited {
    color: #DCDADB;
    border-bottom-color: #DCDADB;
  }
}

.transparentblack a {
  color: #212121;
  border-bottom-color: #212121;

  &:hover, &:active, &:focus {
    color: #2A2829;
    border-bottom-color: #2A2829;
  }
  &:visited {
    color: #434142;
    border-bottom-color: #434142;
  }
}

.transparentred a {
  color: #cc0000;
  border-bottom-color: #cc0000;

  &:hover, &:active, &:focus {
    color: #990000;
    border-bottom-color: #990000;
  }
  &:visited {
    color: #aa0000;
    border-bottom-color: #aa0000;
  }
}

.black a {
  color: #fff;
  border-bottom-color: #fff;

  &:hover, &:active, &:focus {
    color: #F5F3F4;
    border-bottom-color: #F5F3F4;
  }
  &:visited {
    color: #DCDADB;
    border-bottom-color: #DCDADB;
  }
}

.white a {
  color: #212121;
  border-bottom-color: #212121;

  &:hover, &:active, &:focus {
    color: #2A2829;
    border-bottom-color: #2A2829;
  }
  &:visited {
    color: #434142;
    border-bottom-color: #434142;
  }
}

.gray10 a {
  color: #212121;
  border-bottom-color: #212121;

  &:hover, &:active, &:focus {
    color: #2A2829;
    border-bottom-color: #2A2829;
  }
  &:visited {
    color: #434142;
    border-bottom-color: #434142;
  }
}

.gray25 a {
  color: #212121;
  border-bottom-color: #212121;

  &:hover, &:active, &:focus {
    color: #2A2829;
    border-bottom-color: #2A2829;
  }
  &:visited {
    color: #434142;
    border-bottom-color: #434142;
  }
}

.gray60 a {
  color: #fff;
  border-bottom-color: #fff;

  &:hover, &:active, &:focus {
    color: #F5F3F4;
    border-bottom-color: #F5F3F4;
  }
}

.gray90 a {
  color: #fff;
  border-bottom-color: #fff;

  &:hover, &:active, &:focus {
    color: #F5F3F4;
    border-bottom-color: #F5F3F4;
  }
  &:visited {
    color: #DCDADB;
    border-bottom-color: #DCDADB;
  }
}

.uamsred a {
  color: #fff;
  border-bottom-color: #fff;

  &:hover, &:active, &:focus {
    color: #F5F3F4;
    border-bottom-color: #F5F3F4;
  }
  &:visited {
    color: #DCDADB;
    border-bottom-color: #DCDADB;
  }
}

.accentgray a {
  color: #fff;
  border-bottom-color: #fff;

  &:hover, &:active, &:focus {
    color: #F5F3F4;
    border-bottom-color: #F5F3F4;
  }
  &:visited {
    color: #DCDADB;
    border-bottom-color: #DCDADB;
  }
}

.eggplant a {
  color: #fff;
  border-bottom-color: #fff;

  &:hover, &:active, &:focus {
    color: #F5F3F4;
    border-bottom-color: #F5F3F4;
  }
  &:visited {
    color: #DCDADB;
    border-bottom-color: #DCDADB;
  }
}

.bluegray a {
  color: #fff;
  border-bottom-color: #fff;

  &:hover, &:active, &:focus {
    color: #F5F3F4;
    border-bottom-color: #F5F3F4;
  }
  &:visited {
    color: #DCDADB;
    border-bottom-color: #DCDADB;
  }
}

.maroon a {
  color: #fff;
  border-bottom-color: #fff;

  &:hover, &:active, &:focus {
    color: #F5F3F4;
    border-bottom-color: #F5F3F4;
  }
  &:visited {
    color: #DCDADB;
    border-bottom-color: #DCDADB;
  }
}

.orange a {
  color: #fff;
  border-bottom-color: #fff;

  &:hover, &:active, &:focus {
    color: #F5F3F4;
    border-bottom-color: #F5F3F4;
  }
  &:visited {
    color: #DCDADB;
    border-bottom-color: #DCDADB;
  }
}

.lightblue a {
  color: #fff;
  border-bottom-color: #fff;

  &:hover, &:active, &:focus {
    color: #F5F3F4;
    border-bottom-color: #F5F3F4;
  }
  &:visited {
    color: #DCDADB;
    border-bottom-color: #DCDADB;
  }
}

.tealblue a {
  color: #fff;
  border-bottom-color: #fff;

  &:hover, &:active, &:focus {
    color: #F5F3F4;
    border-bottom-color: #F5F3F4;
  }
  &:visited {
    color: #DCDADB;
    border-bottom-color: #DCDADB;
  }
}

a {
  &.black {
    &:hover, &:active, &:focus {
      color: #fff;
      border-bottom-color: #fff;
    }
  }

  &.white {
    &:hover, &:active, &:focus {
      background-color: #F0EEEF;
      color: #212121;
      border-bottom-color: #212121;
    }
  }

  &.gray10 {
    &:hover, &:active, &:focus {
      background-color: #DCDADB;
      color: #212121;
      border-bottom-color: #212121;
    }
  }

  &.gray25 {
    &:hover, &:active, &:focus {
      background-color: #A9A7A8;
      color: #212121;
      border-bottom-color: #212121;
    }
  }

  &.gray60 {
    &:hover, &:active, &:focus {
      background-color: #434142;
      color: #fff;
      border-bottom-color: #fff;
    }
  }

  &.gray90 {
    &:hover, &:active, &:focus {
      background-color: #1a1a1a;
      color: #fff;
      border-bottom-color: #fff;
    }
  }

  &.uamsred {
    &:hover, &:active, &:focus {
      background-color: #9d2235;
      color: #fff;
      border-bottom-color: #fff;
    }
  }

  &.accentgray {
    &:hover, &:active, &:focus {
      background-color: #767475;
      color: #fff;
      border-bottom-color: #fff;
    }
  }

  &.eggplant {
    &:hover, &:active, &:focus {
      background-color: #701D45;
      color: #fff;
      border-bottom-color: #fff;
    }
  }

  &.bluegray {
    &:hover, &:active, &:focus {
      background-color: #396079;
      color: #fff;
      border-bottom-color: #fff;
    }
  }

  &.darkblue {
    &:hover, &:active, &:focus {
      background-color: #1A365C;
      color: #fff;
      border-bottom-color: #fff;
    }
  }

  &.maroon {
    &:hover, &:active, &:focus {
      background-color: #6C0020;
      color: #fff;
      border-bottom-color: #fff;
    }
  }

  &.orange {
    &:hover, &:active, &:focus {
      background-color: #CA4C1D;
      color: #fff;
      border-bottom-color: #fff;
    }
  }

  &.lightblue {
    &:hover, &:active, &:focus {
      background-color: #01809F;
      color: #fff;
      border-bottom-color: #fff;
    }
  }

  &.tealblue {
    &:hover, &:active, &:focus {
      background-color: #427F81;
      color: #fff;
      border-bottom-color: #fff;
    }
  }
}
