
.darken {
  background-color: rgba(0,0,0,0.5);
}

.lighten {
  background-color: rgba(255,255,255,0.5);
}

.transparentwhite {
  background-color: none;
  color: #fff;

  [class^="ic-"]:before, [class*=" ic-"], 
[class^="i-"]:before, [class*=" i-"],,
  .callout-heading {
    color: #fff;
  }
}

.transparentblack {
  background-color: none;
  color: #000;

  [class^="ic-"]:before, [class*=" ic-"], 
[class^="i-"]:before, [class*=" i-"],,
  .callout-heading {
    color: #000;
  }
}

.transparentred {
  background-color: none;
  color: #9d2235;

  [class^="ic-"]:before, [class*=" ic-"], 
[class^="i-"]:before, [class*=" i-"],,
  .callout-heading {
    color: #9d2235;
  }
}

.semidark {
  background-color: rgba(0,0,0,0.5);
  color: #fff;

  [class^="ic-"]:before, [class*=" ic-"], 
[class^="i-"]:before, [class*=" i-"],,
  .callout-heading {
    color: #fff;
  }
}

.semilight {
  background-color: rgba(255,255,255,0.5);
  color: #000;

  [class^="ic-"]:before, [class*=" ic-"], 
[class^="i-"]:before, [class*=" i-"],,
  .callout-heading {
    color: #000;
  }
}

.black {
  background-color: #000;
  color: #fff;

  [class^="ic-"]:before, [class*=" ic-"], 
[class^="i-"]:before, [class*=" i-"],,
  .callout-heading {
    color: #fff;
  }
}

.white {
  background-color: #fff;
  color: #000;

  [class^="ic-"]:before, [class*=" ic-"], 
[class^="i-"]:before, [class*=" i-"],,
  .callout-heading {
    color: #000;
  }
}

.gray10 {
  background-color: #f5f5f5;
  color: #000;

  [class^="ic-"]:before, [class*=" ic-"], 
[class^="i-"]:before, [class*=" i-"],,
  .callout-heading {
    color: #000;
  }
}

.gray25 {
  background-color: #ccc;
  color: #000;

  [class^="ic-"]:before, [class*=" ic-"], 
[class^="i-"]:before, [class*=" i-"],,
  .callout-heading {
    color: #000;
  }
}

.gray60 {
  background-color: #666;
  color: #fff;

  [class^="ic-"]:before, [class*=" ic-"], 
[class^="i-"]:before, [class*=" i-"],,
  .callout-heading {
    color: #fff;
  }
}

.gray90 {
  background-color: #333;
  color: #fff;

  [class^="ic-"]:before, [class*=" ic-"], 
[class^="i-"]:before, [class*=" i-"], {
    color: #fff;
  }
}

.uamsred {
  background-color: #9d2235;
  color: #fff;

  [class^="ic-"]:before, [class*=" ic-"], 
[class^="i-"]:before, [class*=" i-"],,
  .callout-heading {
    color: #fff;
  }
}

.accentgray {
  background-color: #767475;
  color: #fff;

  [class^="ic-"]:before, [class*=" ic-"], 
[class^="i-"]:before, [class*=" i-"],,
  .callout-heading {
    color: #fff;
  }
}

.eggplant {
  background-color: #701D45;
  color: #fff;

  [class^="ic-"]:before, [class*=" ic-"], 
[class^="i-"]:before, [class*=" i-"],,
  .callout-heading {
    color: #fff;
  }
}

.bluegray {
  background-color: #396079;
  color: #fff;

  [class^="ic-"]:before, [class*=" ic-"], 
[class^="i-"]:before, [class*=" i-"],,
  .callout-heading {
    color: #fff;
  }
}

.darkblue {
  background-color: #1A365C;
  color: #fff;

  [class^="ic-"]:before, [class*=" ic-"], 
[class^="i-"]:before, [class*=" i-"],,
  .callout-heading {
    color: #fff;
  }
}

.maroon {
  background-color: #6C0020;
  color: #fff;

  [class^="ic-"]:before, [class*=" ic-"], 
[class^="i-"]:before, [class*=" i-"],,
  .callout-heading {
    color: #fff;
  }
}

.orange {
  background-color: #CA4C1D;
  color: #fff;

  [class^="ic-"]:before, [class*=" ic-"], 
[class^="i-"]:before, [class*=" i-"],,
  .callout-heading {
    color: #fff;
  }
}

.lightblue {
  background-color: #01809F;
  color: #fff;
  
  [class^="ic-"]:before, [class*=" ic-"], 
[class^="i-"]:before, [class*=" i-"],,
  .callout-heading {
    color: #fff;
  }
}

.tealblue {
  background-color: #427F81;
  color: #fff;
  
  [class^="ic-"]:before, [class*=" ic-"], 
[class^="i-"]:before, [class*=" i-"],,
  .callout-heading {
    color: #fff;
  }
}

/* ===== 1.2 - Brand Colors - Links ===== */

.transparentwhite a {
  color: #fff;
  border-color: #fff;

  &:hover, &:active, &:focus {
    color: #f5f5f5;
    border-color: #f5f5f5;
  }
  &:visited {
    color: #eee;
    border-color: #eee;
  }
}

.transparentblack a {
  color: #000;
  border-color: #000;

  &:hover, &:active, &:focus {
    color: #212121;
    border-color: #212121;
  }
  &:visited {
    color: #424242;
    border-color: #424242;
  }
}

.transparentred a {
  color: #cc0000;
  border-color: #cc0000;

  &:hover, &:active, &:focus {
    color: #990000;
    border-color: #990000;
  }
  &:visited {
    color: #aa0000;
    border-color: #aa0000;
  }
}

.black a {
  color: #fff;
  border-color: #fff;

  &:hover, &:active, &:focus {
    color: #f5f5f5;
    border-color: #f5f5f5;
  }
  &:visited {
    color: #eee;
    border-color: #eee;
  }
}

.white a {
  color: #000;
  border-color: #000;

  &:hover, &:active, &:focus {
    color: #212121;
    border-color: #212121;
  }
  &:visited {
    color: #424242;
    border-color: #424242;
  }
}

.gray10 a {
  color: #000;
  border-color: #000;

  &:hover, &:active, &:focus {
    color: #212121;
    border-color: #212121;
  }
  &:visited {
    color: #424242;
    border-color: #424242;
  }
}

.gray25 a {
  color: #000;
  border-color: #000;

  &:hover, &:active, &:focus {
    color: #212121;
    border-color: #212121;
  }
  &:visited {
    color: #424242;
    border-color: #424242;
  }
}

.gray60 a {
  color: #fff;
  border-color: #fff;

  &:hover, &:active, &:focus {
    color: #f5f5f5;
    border-color: #f5f5f5;
  }
}

.gray90 a {
  color: #fff;
  border-color: #fff;

  &:hover, &:active, &:focus {
    color: #f5f5f5;
    border-color: #f5f5f5;
  }
  &:visited {
    color: #eee;
    border-color: #eee;
  }
}

.uamsred a {
  color: #fff;
  border-color: #fff;

  &:hover, &:active, &:focus {
    color: #f5f5f5;
    border-color: #f5f5f5;
  }
  &:visited {
    color: #eee;
    border-color: #eee;
  }
}

.accentgray a {
  color: #fff;
  border-color: #fff;

  &:hover, &:active, &:focus {
    color: #f5f5f5;
    border-color: #f5f5f5;
  }
  &:visited {
    color: #eee;
    border-color: #eee;
  }
}

.eggplant a {
  color: #fff;
  border-color: #fff;

  &:hover, &:active, &:focus {
    color: #f5f5f5;
    border-color: #f5f5f5;
  }
  &:visited {
    color: #eee;
    border-color: #eee;
  }
}

.bluegray a {
  color: #fff;
  border-color: #fff;

  &:hover, &:active, &:focus {
    color: #f5f5f5;
    border-color: #f5f5f5;
  }
  &:visited {
    color: #eee;
    border-color: #eee;
  }
}

.maroon a {
  color: #fff;
  border-color: #fff;

  &:hover, &:active, &:focus {
    color: #f5f5f5;
    border-color: #f5f5f5;
  }
  &:visited {
    color: #eee;
    border-color: #eee;
  }
}

.orange a {
  color: #fff;
  border-color: #fff;

  &:hover, &:active, &:focus {
    color: #f5f5f5;
    border-color: #f5f5f5;
  }
  &:visited {
    color: #eee;
    border-color: #eee;
  }
}

.lightblue a {
  color: #fff;
  border-color: #fff;

  &:hover, &:active, &:focus {
    color: #f5f5f5;
    border-color: #f5f5f5;
  }
  &:visited {
    color: #eee;
    border-color: #eee;
  }
}

.tealblue a {
  color: #fff;
  border-color: #fff;

  &:hover, &:active, &:focus {
    color: #f5f5f5;
    border-color: #f5f5f5;
  }
  &:visited {
    color: #eee;
    border-color: #eee;
  }
}

a {
  &.black {
    &:hover, &:active, &:focus {
      color: #fff;
      border-color: #fff;
    }
  }

  &.white {
    &:hover, &:active, &:focus {
      background-color: #e6e6e6;
      color: #000;
      border-color: #000;
    }
  }

  &.gray10 {
    &:hover, &:active, &:focus {
      background-color: #d9d9d9;
      color: #000;
      border-color: #000;
    }
  }

  &.gray25 {
    &:hover, &:active, &:focus {
      background-color: #b3b3b3;
      color: #000;
      border-color: #000;
    }
  }

  &.gray60 {
    &:hover, &:active, &:focus {
      background-color: #4d4d4d;
      color: #fff;
      border-color: #fff;
    }
  }

  &.gray90 {
    &:hover, &:active, &:focus {
      background-color: #1a1a1a;
      color: #fff;
      border-color: #fff;
    }
  }

  &.uamsred {
    &:hover, &:active, &:focus {
      background-color: #9d2235;
      color: #fff;
      border-color: #fff;
    }
  }

  &.accentgray {
    &:hover, &:active, &:focus {
      background-color: #767475;
      color: #fff;
      border-color: #fff;
    }
  }

  &.eggplant {
    &:hover, &:active, &:focus {
      background-color: #701D45;
      color: #fff;
      border-color: #fff;
    }
  }

  &.bluegray {
    &:hover, &:active, &:focus {
      background-color: #396079;
      color: #fff;
      border-color: #fff;
    }
  }

  &.darkblue {
    &:hover, &:active, &:focus {
      background-color: #1A365C;
      color: #fff;
      border-color: #fff;
    }
  }

  &.maroon {
    &:hover, &:active, &:focus {
      background-color: #6C0020;
      color: #fff;
      border-color: #fff;
    }
  }

  &.orange {
    &:hover, &:active, &:focus {
      background-color: #CA4C1D;
      color: #fff;
      border-color: #fff;
    }
  }

  &.lightblue {
    &:hover, &:active, &:focus {
      background-color: #01809F;
      color: #fff;
      border-color: #fff;
    }
  }

  &.tealblue {
    &:hover, &:active, &:focus {
      background-color: #427F81;
      color: #fff;
      border-color: #fff;
    }
  }
}
