.element-left {
  float: left !important;
}

.element-right {
  float: right !important;
}

.element-center {
  float: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
  clear: both !important;
}

.textleft {
  text-align: left;
}

.textcenter {
  text-align: center;
}

.textright {
  text-align: right;
}

a {
  .right-arrow {
    position: absolute;

    svg {
      position: absolute;
      left: 0;
      -webkit-transition: left .2s ease;
      transition: left .2s ease;
      width: 1.5em;
      height: 1.5em;
      margin-left: 0.25em;
      margin-right: 0.5em;
    }
  }

  .left-arrow {
    position: relative;

    svg {
      position: absolute;
      right: 0;
      -webkit-transition: right .2s ease;
      transition: right .2s ease;
      width: 1.5em;
      height: 1.5em;
      margin-right: 0.25em;
      margin-left: 0.5em;
    }
  }

  &:hover, &:focus, &:active {
    .right-arrow {

      svg {
        left: 0.25em;
        -webkit-transition:left .2s ease;
        transition:left .2s ease;
      }
    }

    .left-arrow {

      svg {
        right: 0.25em;
        -webkit-transition:right .2s ease;
        transition:right .2s ease;
      }
    }
  }
}

/* First Item - No top margin */
.first-item {
  margin-top: -30px;
}
@media screen and (max-width: 768px) {
  .first-item {
    margin-top: 0;
  }
}

/* Full Width Option */
.uams-full-width {
  width: 100vw;
  margin-left: calc( 50% - 50vw) !important;
  margin-right: calc( 50% - 50vw) !important;
}
.uams-full-width .inner-container {
  margin: 0 auto;
  padding: 0;
}
@media (min-width: 768px) {
  .uams-full-width .inner-container {
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  .uams-full-width .inner-container {
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  .uams-full-width .inner-container {
    max-width: 1170px;
  }
}
@media screen and (min-width: 1920px) {
  .uams-full-width {
    width: 1920px;
    margin-left: calc(50% - 960px) !important;
    margin-right: calc(50% - 960px) !important;
  }
}
.uams-full-width.full .inner-container {
  max-width: 100%;
}
/* Padding Options */
.pad-normal {
  padding: 1em;
}
.pad-large {
  padding: 2em;
}
.pad-small {
  padding: 0.5em;
}
.pad-none {
  padding: 0;
}