/**
 * UAMS Brand Colors
 */

// grays
$gray5: #FAF8F9 !default;
$gray10: #F5F3F4 !default;
$gray20: #F0EEEF !default;
$gray25: #DCDADB !default;
//$gray: #767475 !default;
$gray60: #767475 !default;
$gray70: #5D5B5C !default;
$gray80: #434142 !default;
$gray90: #212121 !default;

// colors by brand name
$uamsred: #9d2235 !default;
$accentgray: #767475 !default;
$eggplant: #701D45 !default;
$bluegray: #396079 !default;
$darkblue: #1A365C !default;
$maroon: #6C0020 !default;
$orange: #CA4C1D !default;
$lightblue: #01809F !default;
$tealblue: #427F81 !default;

// additional web colors
$webgreen: #229d4d !default;
$webblue: #22739d !default;
$focusyellow: #ffb81c !default;
$urgentred: #C61029 !default;
$alertorange: #ec7330 !default;
$fyisteel: #597286 !default;

// colors by recognizable name
$brand-red: $uamsred !default;
$brand-gray: $accentgray !default;
$brand-eggplant: $eggplant !default;
$brand-bluegray: $bluegray !default;
$brand-darkblue: $darkblue !default;
$brand-maroon: $maroon !default;
$brand-orange: $orange !default;
$brand-lightblue: $lightblue !default;
$brand-tealblue: $tealblue !default;

// bootstrap class colors
// $brand-primary: $brand-red !default;
// $brand-success: $brand-green !default;
// $brand-info: $brand-blue !default;
// $brand-warning: $brand-orange !default;
// $brand-danger: $brand-reynolds !default;
