/* Icon Box Shortcodes */
.icon-box-wrapper {
  text-align: center;
  padding: 15px 0;
  margin-bottom: 1em;
}
.uams-body-copy .icon-box-icon a,
.icon-box-icon a {
  border-bottom: none;
}
.uams-body .icon-box-icon a:focus:not(.uams-btn),
.uams-body .icon-box-icon a:hover:not(.uams-btn),
.icon-box-icon a:focus, 
.icon-box-icon a:hover {
  border-bottom: none;
}
.icon-box-icon a span,
.icon-box-icon .icon-wrap span { 
  display: inline-block;
  padding: 18px;
  border-radius: 100%;
  background-color: transparent;
  border: 3px solid transparent; //Make same as bg color
}
.icon-box-icon a span:focus,
.icon-box-icon a span:hover {
  border-color: rgba(21, 101, 192, 0.75);
}
.icon-box-content h3.icon-box-title {
  margin-top: 0;
}
.icon-box-content a h3.icon-box-title {
  color: #9d2235;
  display: inline-block;
}
.icon-box-wrapper a.icon-box-tile-link,
.icon-box-wrapper a.icon-box-tile-link:hover,
.icon-box-wrapper a.icon-box-tile-link:focus {
  border-bottom-color: #9d2235;
}
.icon-box-content {
  padding: 65px 20px 10px;
  margin-top: -55px;
}
/* Options */
.icon-box-wrapper.default.none {
  background-color: transparent;
}
.icon-box-wrapper.default.gray {
  background-color: $gray10;
}
.icon-box-wrapper.default.red {
  background-color: #9d2235;
}
.icon-box-wrapper.default.blue {
  background-color: $bluegray;
}
.icon-box-wrapper.default.red a.icon-box-tile-link,
.icon-box-wrapper.default.red a.icon-box-tile-link:hover,
.icon-box-wrapper.default.red a.icon-box-tile-link:focus,
.icon-box-wrapper.default.blue a.icon-box-tile-link,
.icon-box-wrapper.default.blue a.icon-box-tile-link:hover,
.icon-box-wrapper.default.blue a.icon-box-tile-link:focus,
.icon-box-wrapper.boxed.red a.icon-box-tile-link,
.icon-box-wrapper.boxed.red a.icon-box-tile-link:hover,
.icon-box-wrapper.boxed.red a.icon-box-tile-link:focus,
.icon-box-wrapper.boxed.blue a.icon-box-tile-link,
.icon-box-wrapper.boxed.blue a.icon-box-tile-link:hover,
.icon-box-wrapper.boxed.blue a.icon-box-tile-link:focus {
  border-bottom-color: #fff;
}
.icon-box-icon.default span:before {
  color: $gray20;
}
.icon-box-wrapper .icon-box-icon span:before {
  color: $gray20;
}
.icon-box-wrapper.gray .icon-box-icon span:before {
  color: $gray70;
}
.icon-box-wrapper.red .icon-box-icon span:before {
  color: $uamsred;
}
.icon-box-wrapper.blue .icon-box-icon span:before {
  color: $bluegray;
}
.icon-box-wrapper.default.none .icon-box-icon span:before {
  color: $gray20;
}
.icon-box-wrapper.default.gray .icon-box-icon span:before {
  color: $gray70;
}
.icon-box-wrapper.default.red .icon-box-icon span:before,
.icon-box-wrapper.default.blue .icon-box-icon span:before {
  color: $gray5;
}
.icon-box-wrapper.default.red .icon-box-icon span:hover,
.icon-box-wrapper.default.red .icon-box-icon span:focus,
.icon-box-wrapper.default.blue .icon-box-icon span:hover,
.icon-box-wrapper.default.blue .icon-box-icon span:focus {
  border-color: $gray5;
}
.icon-box-wrapper.default.red a h3.icon-box-title, .icon-box-wrapper.default.red a h3,
.icon-box-wrapper.default.blue a h3.icon-box-title, .icon-box-wrapper.default.blue a h3,
.icon-box-wrapper.default.red h3.icon-box-title, .icon-box-wrapper.default.red h3,
.icon-box-wrapper.default.blue h3.icon-box-title, .icon-box-wrapper.default.blue h3 {
  color: #fff;
}
.icon-box-wrapper.default.red a h3.icon-box-title,
.icon-box-wrapper.boxed.red a h3.icon-box-title,
.icon-box-wrapper.default.red h3.icon-box-title,
.icon-box-wrapper.boxed.red h3.icon-box-title   {
  color: #fff;
}
.icon-box-wrapper.default.blue a h3.icon-box-title,
.icon-box-wrapper.boxed.blue a h3.icon-box-title,
.icon-box-wrapper.default.blue h3.icon-box-title,
.icon-box-wrapper.boxed.blue h3.icon-box-title {
  color: #fff;
}
.icon-box-wrapper.default.gray a h3.icon-box-title,
.icon-box-wrapper.boxed.gray a h3.icon-box-title,
.icon-box-wrapper.default.gray h3.icon-box-title,
.icon-box-wrapper.boxed.gray h3.icon-box-title {
  color: $gray70;
}
.icon-box-wrapper.default.red a.icon-box-tile-link,
.icon-box-wrapper.default.red a.icon-box-tile-link:hover,
.icon-box-wrapper.default.red a.icon-box-tile-link:focus,
.icon-box-wrapper.default.blue a.icon-box-tile-link,
.icon-box-wrapper.default.blue a.icon-box-tile-link:hover,
.icon-box-wrapper.default.blue a.icon-box-tile-link:focus {
  border-bottom-color: #fff;
}
.icon-box-wrapper.default.red .icon-box-description,
.icon-box-wrapper.default.blue .icon-box-description,
.icon-box-wrapper.boxed.red .icon-box-description,
.icon-box-wrapper.boxed.blue .icon-box-description {
  color: #fff;
}
.icon-box-wrapper.boxed.red .icon-box-content {
  background-color: $uamsred;
}
.icon-box-wrapper.boxed.blue .icon-box-content {
  background-color: $bluegray;
}
.icon-box-wrapper.boxed.gray .icon-box-content {
  background-color: $gray25;
}
.icon-box-wrapper.boxed.gray .icon-box-icon a span,
.icon-box-wrapper.boxed.gray .icon-box-icon .icon-wrap span  {
  border-color: $gray20;
  background-color: #fff;
}
.icon-box-wrapper.boxed.blue .icon-box-icon a span,
.icon-box-wrapper.boxed.blue .icon-box-icon .icon-wrap span {
  border-color: $bluegray;
  background-color: #fff;
}
.icon-box-wrapper.boxed.red .icon-box-icon a span,
.icon-box-wrapper.boxed.red .icon-box-icon .icon-wrap span {
  border-color: $uamsred;
  background-color: #fff;
}
.icon-box-wrapper.framed.gray .icon-box-icon a span,
.icon-box-wrapper.framed.gray .icon-box-icon .icon-wrap span {
  background-color: $gray20;
}
.icon-box-wrapper.framed.blue .icon-box-icon a span,
.icon-box-wrapper.framed.blue .icon-box-icon .icon-wrap span {
  background-color: $bluegray;
}
.icon-box-wrapper.framed.red .icon-box-icon a span,
.icon-box-wrapper.framed.red .icon-box-icon .icon-wrap span {
  background-color: $uamsred;
}
.icon-box-wrapper.framed.gray .icon-box-icon a span:before,
.icon-box-wrapper.framed.gray .icon-box-icon .icon-wrap span:before {
  color: $gray70;
}
.icon-box-wrapper.framed.red .icon-box-icon a span:before,
.icon-box-wrapper.framed.blue .icon-box-icon a span:before,
.icon-box-wrapper.framed.red .icon-box-icon .icon-wrap span:before,
.icon-box-wrapper.framed.blue .icon-box-icon .icon-wrap span:before {
  color: #fff;
}

/* Responsive Fixes */
@media (min-width: 768px) {
  .icon-box-content {
    max-width: 750px;
    margin: -55px auto 0;
  }
  .text-box-content {
    max-width: 750px;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .icon-box-content {
    max-width: 970px;
    margin: -55px auto 0;
  }
  .text-box-content {
    max-width: 970px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .icon-box-content {
    max-width: 1170px;
    margin: -55px auto 0;
  }
  .text-box-content {
    max-width: 1170px;
    margin: 0 auto;
  }
}

