@mixin brand-colors($background-color, $color, $other-color) {
    background-color: $background-color;
    color: $color;

    [class^="ic-"]:before,
    [class*=" ic-"],
    [class^="i-"]:before,
    [class*=" i-"],
    .callout-heading {
        color: $other-color;
    }
}

@mixin brand-colors-links($color, $border-color, $hover-color, $hover-border-color, $visited-color, $visited-border-color) {
    color: $color;
    border-bottom-color: $border-color;

    &:hover,
    &:active,
    &:focus {
        color: $hover-color;
        border-bottom-color: $hover-border-color;
    }
    &:visited {
        color: $visited-color;
        border-bottom-color: $visited-border-color;
    }
}

@mixin brand-colors-classed-link($background-color, $color, $border-color) {
    &:hover,
    &:active,
    &:focus {
        background-color: $background-color;
        color: $color;
        border-bottom-color: $border-color;
    }
}

.darken {
    background-color: rgba(0, 0, 0, 0.5);
}

.lighten {
    background-color: rgba(255, 255, 255, 0.5);
}

.transparentwhite {
    @include brand-colors(none, #fff, #fff);
}

.transparentblack {
    @include brand-colors(none, #212121, #212121);
}

.transparentred {
    @include brand-colors(none, #9d2235, #9d2235);
}

.semidark {
    @include brand-colors(rgba(0, 0, 0, 0.5), #fff, #fff);
}

.semilight {
    @include brand-colors(rgba(255, 255, 255, 0.5), #212121, #212121);
}

.black {
    @include brand-colors(#000, #fff, #fff);
}

.white {
    @include brand-colors(#fff, #212121, #212121);
}

.gray5 {
    @include brand-colors(#faf8f9, #212121, #212121);
}

.gray10 {
    @include brand-colors(#f5f3f4, #212121, #212121);
}

.gray25 {
    @include brand-colors(#dcdadb, #212121, #212121);
}

.gray60 {
    @include brand-colors(#767475, #fff, #fff);
}

.gray90 {
    @include brand-colors(#212121, #fff, #fff);
}

.uamsred {
    @include brand-colors(#9d2235, #fff, #fff);
}

.accentgray {
    @include brand-colors(#767475, #fff, #fff);
}

.eggplant {
    @include brand-colors(#701d45, #fff, #fff);
}

.bluegray {
    @include brand-colors(#396079, #fff, #fff);
}

.darkblue {
    @include brand-colors(#1a365c, #fff, #fff);
}

.maroon {
    @include brand-colors(#6c0020, #fff, #fff);
}

.orange {
    @include brand-colors(#ca4c1d, #fff, #fff);
}

.lightblue {
    @include brand-colors(#01809f, #fff, #fff);
}

.tealblue {
    @include brand-colors(#427f81, #fff, #fff);
}

/* ===== 1.2 - Brand Colors - Links ===== */

.transparentwhite a {
    @include brand-colors-links(#fff, #fff, #f5f3f4, #f5f3f4, #dcdadb, #dcdadb);
}

.transparentblack a {
    @include brand-colors-links(#212121, #212121, #2a2829, #2a2829, #434142, #434142);
}

.transparentred a {
    @include brand-colors-links(#cc0000, #cc0000, #990000, #990000, #aa0000, #aa0000);
}

.black a {
    @include brand-colors-links(#fff, #fff, #f5f3f4, #f5f3f4, #dcdadb, #dcdadb);
}

.white a {
    @include brand-colors-links(#212121, #212121, #2a2829, #2a2829, #434142, #434142);
}

.gray10 a {
    @include brand-colors-links(#212121, #212121, #2a2829, #2a2829, #434142, #434142);
}

.gray25 a {
    @include brand-colors-links(#212121, #212121, #2a2829, #2a2829, #434142, #434142);
}

.gray60 a {
    @include brand-colors-links(#fff, #fff, #f5f3f4, #f5f3f4, #f5f3f4, #f5f3f4);
}

.gray90 a {
    @include brand-colors-links(#fff, #fff, #f5f3f4, #f5f3f4, #dcdadb, #dcdadb);
}

.uamsred a {
    @include brand-colors-links(#fff, #fff, #f5f3f4, #f5f3f4, #dcdadb, #dcdadb);
}

.accentgray a {
    @include brand-colors-links(#fff, #fff, #f5f3f4, #f5f3f4, #dcdadb, #dcdadb);
}

.eggplant a {
    @include brand-colors-links(#fff, #fff, #f5f3f4, #f5f3f4, #dcdadb, #dcdadb);
}

.bluegray a {
    @include brand-colors-links(#fff, #fff, #f5f3f4, #f5f3f4, #dcdadb, #dcdadb);
}

.maroon a {
    @include brand-colors-links(#fff, #fff, #f5f3f4, #f5f3f4, #dcdadb, #dcdadb);
}

.orange a {
    @include brand-colors-links(#fff, #fff, #f5f3f4, #f5f3f4, #dcdadb, #dcdadb);
}

.lightblue a {
    @include brand-colors-links(#fff, #fff, #f5f3f4, #f5f3f4, #dcdadb, #dcdadb);
}

.tealblue a {
    @include brand-colors-links(#fff, #fff, #f5f3f4, #f5f3f4, #dcdadb, #dcdadb);
}


a {
    &.black {
        @include brand-colors-classed-link(#000, #fff, #fff);
    }

    &.white {
        @include brand-colors-classed-link(#f0eeef, #212121, #212121);
    }

    &.gray10 {
        @include brand-colors-classed-link(#dcdadb, #212121, #212121);
    }

    &.gray25 {
        @include brand-colors-classed-link(#a9a7a8, #212121, #212121);
    }

    &.gray60 {
        @include brand-colors-classed-link(#434142, #fff, #fff);
    }

    &.gray90 {
        @include brand-colors-classed-link(#1a1a1a, #fff, #fff);
    }

    &.uamsred {
        @include brand-colors-classed-link(#9d2235, #fff, #fff);
    }

    &.accentgray {
        @include brand-colors-classed-link(#767475, #fff, #fff);
    }

    &.eggplant {
        @include brand-colors-classed-link(#701d45, #fff, #fff);
    }

    &.bluegray {
        @include brand-colors-classed-link(#396079, #fff, #fff);
    }

    &.darkblue {
        @include brand-colors-classed-link(#1a365c, #fff, #fff);
    }

    &.maroon {
        @include brand-colors-classed-link(#6c0020, #fff, #fff);
    }

    &.orange {
        @include brand-colors-classed-link(#ca4c1d, #fff, #fff);
    }

    &.lightblue {
        @include brand-colors-classed-link(#01809f, #fff, #fff);
    }

    &.tealblue {
        @include brand-colors-classed-link(#427f81, #fff, #fff);
    }
}
