aside.pullquote {
	display: block;
	margin: 0 0 2em;
	padding: 1em 1em;
	
	.quote-content {
		background: none;
		font-size: 2em;
		line-height: 1.25em;
		quotes: "“" "”" "‘" "’";

		&:before {
			content: open-quote;
		}

		&:after {
			content: close-quote;
		}

		&.uamsred {
			color: $uamsred;
		}

		&.gray90 {
			color: $gray90;
		}

		&.black {
			color: #000;
		}

		&.accentgray {
			color: $accentgray;
		}

		&.eggplant {
			color: $eggplant;
		}

		&.bluegray {
			color: $bluegray;
		}

		&.maroon {
			color: $maroon;
		}

		&.orange {
			color: $orange;
		}
		&.lightblue {
			color: $lightblue;
		}

		&.tealblue {
			color: $tealblue;
		}
	}

	cite {
		font-weight: bold;
		text-align: right;
		float: right;
		font-size: 1.25em;

		&:before {
			content: '\2015';
			padding-right: 0.25em;
		}
	}

	&.alignleft {
		text-align: left;
	}

	&.aligncenter {
		text-align: center;
	}

	&.alignright {
		text-align: right;
	}
}

@media screen and (min-width: 768px) {
	aside.pullquote {

		margin: 1em 2em 2em;

		&.alignleft {
			width: 40%;
			padding-right: 2em;
			padding-left: 0;
		}
		
		&.alignright {
			width: 40%;
			padding-left: 2em;
			padding-right: 0;
		}

		&.aligncenter {
			width: 100%;
			padding: 1em 2em;

			.quote-content {
				margin: 0 auto;
				width: 70%;
			}
		}
		
		
	}
}