.panel {
	box-shadow: none;
	
	.panel-heading {
		padding: 0;
	}

	.panel-body {
		padding: 1em;
	}
	
	.panel-title {
		padding: 0;

		span {
			font-size: 0.8em;
			text-transform: uppercase;
			font-weight: bold;
			display: block;
			padding: 1.25em 1em 1em 1em;
			text-align: left;
		}

		button {
			position: relative;
			display: block;
			width: 100%;
			padding: 1.5em 1em 1em 1em;
			text-decoration: underline;
			border: none;
			background: none;
			font-size: 0.8em;
			text-transform: uppercase;
			font-weight: bold;
			text-align: left;

			&:hover, &:focus, &:active {
				text-decoration: none;
			}

			span.showless {
				display: block;
			}

			span.showmore {
				display: none;
			}

			&.collapsed {

				span.showless {
					display: none;
				}

				span.showmore {
					display: block !important;
				}
			}

			span.showmore, span.showless {
				position: absolute;
				right: 1em;
				top: 50%;
				margin-top: -0.75em;
				padding: 0;
				font-size: 0.8em;

				span {
					display: inline;
					position: relative;
					top: auto;
					right: auto;
					margin: 0;
					padding: 0;
				}

				svg {
					width: 1.5em;
					height: 1.5em;
					vertical-align: sub;
				}
			}
		}

	}

	&.panel-default {
		border-color: $gray25;

		.panel-heading {
			background-color: $gray10;
			border-color: $gray10;
		}

		.panel-title {

			button {
				color: $uamsred;
				text-decoration: underline;

				svg {
					fill: $uamsred;
				}

				&:hover, &:focus, &:active {
					color: darken($uamsred, 10);
					text-decoration: none;

					svg {
						fill: darken($uamsred, 10);
					}
				}
			}
		}
	}

	&.panel-primary {

		.panel-title {

			button {

				svg {
					fill: #fff;
				}

				&:hover, &:focus, &:active {
					background-color: darken($uamsred, 10);
				}
			}
		}
	}

	&.panel-success {

		border-color: $webgreen;

		.panel-heading {
			background-color: $webgreen;
			border-color: $webgreen;
		}

		.panel-title {
			color: #fff;

			button {
				color: #fff;

				svg {
					fill: #fff;
				}

				&:hover, &:focus, &:active {
					background-color: darken($webgreen, 10);
				}
			}
		}
	}

	&.panel-info {

		border-color: $bluegray;

		.panel-heading {
			background-color: $bluegray;
			border-color: $bluegray;
		}

		.panel-title {
			color: #fff;

			button {
				color: #fff;

				svg {
					fill: #fff;
				}

				&:hover, &:focus, &:active {
					background-color: darken($bluegray, 10);
				}
			}
		}
	}

	&.panel-warning {

		border-color: $focusyellow;

		.panel-heading {
			background-color: $focusyellow;
			border-color: $focusyellow;
		}

		.panel-title {
			color: #000;

			button {
				color: #000;

				svg {
					fill: #000;
				}

				&:hover, &:focus, &:active {
					background-color: darken($focusyellow, 10);
				}
			}
		}
	}

	&.panel-danger {

		border-color: $urgentred;

		.panel-heading {
			background-color: $urgentred;
			border-color: $urgentred;
		}

		.panel-title {
			color: #fff;

			button {
				color: #fff;

				svg {
					fill: #fff;
				}

				&:hover, &:focus, &:active {
					background-color: darken($urgentred, 10);
				}
			}
		}
	}

	&.noborder {
		border: none;

		.panel-body {
			padding: 1em 0;
		}
	}

	&.simple {
		border: none;

		.panel-heading {
			background: none;
			border: none;
		}

		.panel-title {
			color: #000;

			button {
				color: $uamsred;
				background: none;

				&.hover, &.focus, &.active {
					background: none !important;
				}
			}
			
			span, button {
				padding: 0;
				font-size: 1.25em;
				font-family: inherit;
				text-transform: inherit;
				font-weight: bold;
				text-align: left;
			}

			button > span.showmore, button > span.showless {
				font-size: 0.51em;
				text-transform: uppercase;
				font-weight: bold;
				border-radius: 0.5em;

				svg {
					width: 1em;
					height: 1em;
				}
			}
		}

		.panel-body {
			padding: 1em 0;
		}

		&.panel-primary {

			.panel-title {

				button {
					background: none;

					.showmore, .showless {
						background-color: $uamsred;
						padding: 0.25em 0.5em;
						color: #fff;

						svg {
							fill: #fff;
						}
					}

					&.hover, &.focus, &.active {
						background: none;
					}
				}
			}
		}

		&.panel-success {

			.panel-title {

				button {
					background: none;

					.showmore, .showless {
						background-color: $webgreen;
						padding: 0.25em 0.5em;
						color: #fff;

						svg {
							fill: #fff;
						}
					}

					&.hover, &.focus, &.active {
						background: none;
					}
				}
			}
		}

		&.panel-info {

			.panel-title {

				button {
					background: none;

					.showmore, .showless {
						background-color: $bluegray;
						padding: 0.25em 0.5em;
						color: #fff;

						svg {
							fill: #fff;
						}
					}

					&.hover, &.focus, &.active {
						background: none;
					}
				}
			}
		}

		&.panel-warning {

			.panel-title {

				button {
					background: none;

					.showmore, .showless {
						background-color: $focusyellow;
						padding: 0.25em 0.5em;
						color: #000;

						svg {
							fill: #000;
						}
					}

					&.hover, &.focus, &.active {
						background: none;
					}
				}
			}
		}

		&.panel-danger {

			.panel-title {

				button {
					background: none;

					.showmore, .showless {
						background-color: $urgentred;
						padding: 0.25em 0.5em;
						color: #fff;

						svg {
							fill: #fff;
						}
					}

					&.hover, &.focus, &.active {
						background: none;
					}
				}
			}
		}

	}
}